.tabManagerControls {
	width: 100%;
	height: auto;
	display: flex;
}

.tabManagerControlsSectionTabs {
	width: 50%;
	height: 100%;
	background-color: red;
}

.tabManagerControlsSectionTabs input[type="radio"] {
	display: none;
}

.tabManagerControlsSectionTabs label {
	display: inline-block;
	padding: 14px 18px;
	transition: 0.3s;
	font-size: 16px;
	font-weight: bold;
	color: black;
	cursor: pointer;
	height: auto;
}

.tabManagerControlsSectionProject {
	width: 50%;
	background-color: blue;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	height: auto;
}