$hoverBackGroundColor: #ddd;

.tabManagerControls {
	width: 100%;
	height: auto;
	display: flex;
}

.tabManagerControlsSectionTabs {
	width: 50%;
	height: 100%;
}

.tabManagerControlsSectionTabs input[type="radio"] {
	display: none;
}

.tabManagerControlsSectionTabs label {
	display: inline-block;
	padding: 14px 18px;
	transition: 0.3s;
	font-size: 16px;
	font-weight: bold;
	color: black;
	cursor: pointer;
	height: auto;
}

.tabManagerControlsSectionTabsTabActive {
	background-color:#ccc;
}

.tabManagerControlsSectionProject {
	width: 50%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	height: auto;
}

.tabManagerControlsSectionProject select, button {
	background-color: inherit;
	border: black;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	font-size: 14px;
	color: black;
}

.tabManagerControlsSectionProject select {
	margin: 14px 8px;
}

.tabManagerControlsSectionProject button {
	padding: 14px 8px;
}

.tabManagerControlsSectionProject button:hover, label:hover {
	background-color: $hoverBackGroundColor;
}