extends layout

block content
  h1 Image Comparison Server
  div(id='header')
      div
        span Timestamp:
          span(id='timeStamp')
      div
        span Number of sets:
        span(id='numberOfSets')
      div
        span Max percentage of different pixels:
        span(id='maxPixelPercentage')
      div
        span Max distance:
        span(id='maxDistance')
      div
        span Progress:
        span(id='progressIndicator')
        button(data-action='refresh') Refresh
      div
          span Server Address:
          input(type='text', id='serverAddress')
          button(data-action='saveServerAddress') Save
        div
            button(data-action='refreshAll') Check All
            span(id='refreshAllText')
    div(id='table')
      table
        thead
            tr
                th Reference Image
                th New Image
                th Diff Image
        tbody