extends layout

block content
  h1= title
  div(id='header')
      div
        label Timestamp:
        label(id='timeStamp')
      div
        label Number of sets:
        label(id='numberOfSets')
      div
        label Max percentage of different pixels:
        label(id='maxPixelPercentage')
      div
        label Max distance:
        label(id='maxDistance')
      div
          label Server Address:
          input(type='text', id='serverAddress')
          button(data-action='saveServerAddress') Save
        div
            button(data-action='refreshAll') Check All
            label(id='refreshAllText')
    div(id='table')
      - var imageSets = data.imageMetaInformationModel.getImageSets()
      table
        thead
            tr
                th Reference Image
                th New Image
                th Diff Image
        tbody