doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='./javascripts/jquery.js')
    script(src='./javascripts/Header.js')
    script(src='./javascripts/Table.js')
    script(src='./javascripts/ChangeNotificator.js')
    script(src='./javascripts/Connector.js')
    script(src='./javascripts/Creator.js')
  body
    block content
