doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/ajaxLoadingIcon.css')
        link(rel='stylesheet', href='/javascripts/libs/resources/jquery.selectareas.css')
        script(src='./javascripts/libs/jquery.js')
        script(src='./javascripts/libs/jquery.selectareas.min.js')
        script(src='./javascripts/Header.js')
        script(src='./javascripts/Table.js')
        script(src='./javascripts/ChangeNotificator.js')
        script(src='./javascripts/Connector.js')
        script(src='./javascripts/Creator.js')
        script(src='./javascripts/AddIgnoreArea.js')
    body
        block content