doctype html
html
    head
        title= 'ICS'
        link(rel='stylesheet', href='/stylesheets/general.css')
        link(rel='stylesheet', href='/stylesheets/header.css')
        link(rel='stylesheet', href='/stylesheets/imageSetTable.css')
        link(rel='stylesheet', href='/stylesheets/tab.css')
        link(rel='stylesheet', href='/stylesheets/ajaxLoadingIcon.css')
        link(rel='stylesheet', href='/stylesheets/modifyMarkedAreas.css')
        link(rel='stylesheet', href='/javascripts/libs/resources/jquery.selectareas.css')
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        script(src='./javascripts/libs/jquery.js')
        script(src='./javascripts/libs/jquery.selectareas.min.js')
        script(src='./javascripts/TabManager.js')
        script(src='./javascripts/Header.js')
        script(src='./javascripts/Table.js')
        script(src='./javascripts/ChangeNotificator.js')
        script(src='./javascripts/Connector.js')
        script(src='./javascripts/Creator.js')
        script(src='./javascripts/ModifyMarkedAreas.js')
    body
        block content