.tableImageSets {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  padding: 5px;
  empty-cells: show;
}

.tableImageSets th {
  text-align: center;
  font-size: 14px;
}

.tableImageSets td, th {
  padding: 3px 4px;
  vertical-align: top;
  width: 33%;
}

.tableImageSets tr.light td {
  background-color: #FFF;
}

.tableImageSets tr.dark td {
  background-color: #EEE;
}

.tableImageSets td img{
  height: auto;
  width: 100%;
}

.tableImageSets.imageRow td{
}

.tableImageSets .descriptionRow td{

}

.descriptionRow span {
  margin-right: 3px;
}

.descriptionRow button {
  margin-top: 2px;
}

.imageSet {
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #888888;
  position: relative;
}

.imageSet:last-child {
  border-bottom-width: 1px;
}

.noImageAvailableText {
  text-align: center;
  margin: 50px 0;
}

.noImageAvailableText span{
  font-size: 14px;
  font-style: oblique;
}

.noDataAvailable {
  text-align: center;
  width: 100%;
  height: 200px;
}

.noDataAvailable span {
  vertical-align: middle;
  line-height: 200px;
  font-size: 16px;
  font-weight: bold;
}

.loader {
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  position: absolute;
  z-index: 500;
  display: none;
}

.ajaxLoadingIconAdditionalStyles {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

#ignoreRegion {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.projectSelectProject {
  background-color: inherit;
  margin: -12px auto 15px auto;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  color: black;
}