* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

/* Margin wenn lieber an Text + Klasse */
button {
  color:#ffffff;
  border:1px solid #888;

  box-shadow: inset 0px 19px 0px -24px #888;
  background-color: #333333;

  display:inline-block;
  cursor:pointer;

  font-family:"Segoe UI", Tahoma, sans-serif;
  font-size:12px;
  white-space: nowrap;
  vertical-align: middle;

  padding:3px 6px;

  text-decoration:none;
  text-shadow:0px 1px 0px #1f1f1f;

  outline: none;
}

button:hover {
  background-color:#1a1a1a;
}

button:active {
  position:relative;
  top:1px;
}

td img{
  height: auto;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  padding: 5px;
  empty-cells: show;
}

th {
  text-align: center;
  font-size: 14px;

}

td, th {
  padding: 3px 4px;
  vertical-align: top;
  width: 33%;
}

tr.light td {
  background-color: #FFF;
}

tr.dark td {
  background-color: #EEE;
}

.imageRow td{
}

.descriptionRow td{

}

#header span {
  margin: 0 0 0 3px;
}

#header button {
  margin-top: 2px;
}

.descriptionRow span {
  margin-right: 3px;
}

.descriptionRow button {
  margin-top: 2px;
}

.imageSet {
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #888888;
  position: relative;
}

.imageSet:last-child {
  border-bottom-width: 1px;
}

.noImageAvailableText {
  text-align: center;
  margin: 50px 0;
}

.noImageAvailableText span{
  font-size: 14px;
  font-style: oblique;
}

#refreshButton img {
  height: 16px;
  width: 16px;
}

#refreshButton {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0 0 0 5px;
}

.hidden {
  display: none;
}

.disabledButton:disabled {
  background: #dddddd;
  color: #333333;
  text-shadow: none;
  font-weight: 600;
}

.loader {
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  position: absolute;
  z-index: 500;
  display: none;
}

.ajaxLoadingIconAdditionalStyles {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

#ignoreRegion {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.ignoreRegionImageAreaInner {
  margin: 0 auto;
}

.ignoreRegion {
  position: fixed;
  top: 8vh;
  left: 15vw;
  right: 15vw;
  bottom: 8vh;
  z-index: 1000;
  border: solid #1a1a1a thin;
  background-color: white;
  padding-top: 50px;
}

.ignoreRegionImageArea {
  width: 100%;
  overflow: auto;
  height: calc(100% - 50px)
}

.addIgnoreImage {
  margin: auto;
}

.ignoreRegionButtonBar {
  text-align: center;
  line-height: 50px;
  height: 50px;
}