* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  margin: auto;
  text-align: center;
}

a {
  color: #00B7FF;
}

span {
  margin: 0 0 0 3px;
}

button {
  color:#ffffff;
  border:1px solid #888;

  box-shadow: inset 0px 19px 0px -24px #888;
  background-color: #333333;

  display:inline-block;
  cursor:pointer;

  font-family:"Segoe UI", Tahoma, sans-serif;
  font-size:12px;
  white-space: nowrap;
  vertical-align: middle;

  padding:3px 6px;
  margin: 0 5px 0 0;

  text-decoration:none;
  text-shadow:0px 1px 0px #1f1f1f;

  outline: none;
}

#refreshButton {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0 0 0 5px;
}

#refreshButton img {
  height: 16px;
  width: 16px;
}
button:hover {
  background-color:#1a1a1a;
}

button:active {
  position:relative;
  top:1px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  padding: 5px;
}

table th {
  max-width: 100px;

  text-overflow:ellipsis;
  overflow: hidden;
  white-space:nowrap;
  text-align: center;
  font-size: 14px;
}

table {
  border: 1px solid #888;
}

tr.light td {
  background-color: #FFF;
}

tr.dark td {
  background-color: #EEE;
}

table tbody tr td {
  padding: 3px 4px;
  vertical-align: top;
  position: relative;
  width: 33%;
  overflow: hidden;
}

tr td:first-child {
  border: 1px solid #888888;
}

.imageRow {

}

.descriptionRow {

}

table tbody tr td div.noImageAvaiableText {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

div.noImageAvaiableText span{
  font-size: 14px;
  font-style: oblique;
}

a {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  transition: 0.3s;
}

img{
  height: 100%;
  width: 100%;
}

label {
  padding-right: 5px;
}

div {
  padding: 3px;
}

.ajaxLoadingIconAdditionalStyles {
  transform:scale(0.8);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.grayOut {
  background-color: white;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;
}

.hide {
  display: none;
}

.disabledButton:disabled {
  background: #dddddd;
}