/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab .tabButton {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 18px;
  transition: 0.3s;
  font-size: 14px;
  color: black;
}

.tab .tabButtonProject {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px 14px 0px;
  transition: 0.3s;
  font-size: 13px;
  color: black;
}

.tab .tabSelectProject {
  background-color: inherit;
  float: right;
  border: black;
  outline: none;
  cursor: pointer;
  margin: 14px;
  transition: 0.3s;
  font-size: 14px;
  color: black;
}

.tabProjectButtonDisabled i {
  color: darkgray;
}

/* Change background color of buttons on hover */
.tab .tabButton:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab .tabButton.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}