.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.header > div, progress {
	margin-bottom: 5px;
}

.headerHeadlineProgressBar {
	width: 50%;
}

.headerSecondaryInformation {
	display: flex;
}

.headerSecondaryInformation div {
	margin-right: 5px;
	margin-left: 5px;
}

.headerButton {
	width: 100px;
	height: 25px;
}