.tabManager {
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: darkgray solid 1px;
	background-color: #f1f1f1;
}

.tabManagerHeader {
	height: 50px;
	width: 100%;
	margin-bottom: 10px;
}

.tabManagerHeaderTabs {
	width: 50%;
}

.tabManagerHeaderProjectControls {
	width: 50%;
}

.tabManagerContent {
	width: 95%;
}