.tabManager {
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: #1a1a1a solid 1px;
}

.tabManagerHeader {
	height: 50px;
	border-bottom: #1a1a1a solid 1px;
}

.tabManagerHeaderTabs {
	width: 50%;
}

.tabManagerHeaderProjectControls {
	width: 50%;
}

.tabManagerContent {
	width: 95%;
}