.tabManager {
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: darkgray solid 1px;
	background-color: #f1f1f1;
}

.tabManagerHeader {
	width: 100%;
}

.tabManagerHeaderTabs {
	width: 50%;
}

.tabManagerHeaderProjectControls {
	width: 50%;
}

.tabManagerContent {
	width: 98%;
	padding: 15px 0;
}