.contentTableContainer {
	border: black solid 1px;
	width: 100%;
}

.contentTable {
	width: 100%;
}

.contentTable:nth-child(even) {
	background-color: #ffffff;
}

.contentTable:nth-child(odd) {
	background-color: #eeeeee;
}

.contentTable td {
	width: 33%;
}

.contentTable td img {
	width: 100%;
	height: auto;
}

.contentTableHeadline {
	width: 100%;
}

.contentTableHeadline hr {
	width: 33%;
}