.contentTableDataRowReferenceCell {
  vertical-align: baseline;
  padding: 5px;
}

.contentTableDataRowReferenceCellInformationContainer {
  display: flex;
  flex-wrap: wrap;
}

.contentTableDataRowReferenceCellInformationContainerFirstBlock {
  margin-right: 10px;
}

.contentTableDataRowReferenceCell div {
  margin-bottom: 2px;
}

.contentTableDataRowReferenceCell button {
  margin-right: 1px;
}
