.contentTableDataRowReferenceCell {
  vertical-align: baseline;
  padding: 5px;
}

.contentTableDataRowReferenceCell div {
  margin-bottom: 2px;
}

.contentTableDataRowReferenceCell button {
  margin-right: 1px;
}
